*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 1.8rem;
    margin-left: 1.7rem;
}

button {
    background-color: white;
    border: 2px solid white;
}

.shopping-cart {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: flex-end;
}
